@media (max-width:768px) {
  html,
  body {
    overflow-x: hidden;
  }
  #theme-toggle {
    right: 120px;
    position: absolute;
  }
  .items {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 30px;
    z-index: 1300;
  }
  .links {
    position: absolute;
    top: 65px;
    z-index: 1200;
    right: 50px;
    width: 150px;
    height: max-content;
    background-color: rgba(229, 230, 228, 0.9);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 3px gray;
    padding: 20px 30px 20px 40px;
    overflow: hidden;
  }
  .links::before {
    content: "";
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    width: 2px;
    background: gray;
    border-radius: 3px;
    pointer-events: none;
  }

  #menu:checked+.items+.links {
    display: flex;
  }

  #home h1 {
    font-size: 5rem;
  }

  #home h2 {
    font-size: 1rem;
  }

  #home p {
    font-size: 1rem;
  }

  .contents {
    padding-top: 160px;
  }

  .subtitle-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

  }

  #about {
    max-width: 100%;
    padding: 20px;
    text-align: center;
  }

  #about img {
    float: none;
    shape-outside: none;
    display: block;
    margin: 40px auto 0 auto;
    height: 200px;
    width: 200px;
  }

  #about p {
    text-align: justify;
    font-size: 16px;
    color: black;
    margin: 0;
  }

  .exp-grid {
    padding: 0px 20px;
    gap: 50px;
  }

  .cert-grid {
    flex-direction: column;
    padding: 20px;
    gap: 50px;
    margin-left: 5px;
  }

  .cert-item {
    width: 90%;
    max-width: 100%;

  }

  .modal-content {
    max-width: 85%;
    max-height: 75vh;
    padding: 20px;
    border-radius: 10px;
  }

  .modal-content img {
    max-height: 50vh;
    object-fit: contain;
  }

  .modal .close {
    font-size: 22px;
    top: 8px;
    right: 12px;
  }

  .projects-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    padding: 22px;
    gap: 25px;
  }

  .project-card {
    height: auto;
    background: #fff;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 0;
    width: 90%;
    max-width: 100%;
  }

  .project-card img {
    width: 100%;
    height: auto;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
  }

  .responsive {
    display: block;
    padding: 10px;
  }

  .responsive h4 {
    font-size: 19px;
    font-weight: 500;
  }

  .responsive p {
    font-size: 16px;
    line-height: 1.6;
  }

  .overlay {
    display: none;
  }

  .overlay h4 {
    margin-bottom: 8px;
    text-align: left;
  }

  .overlay p {
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
  }

  .project-title {
    text-align: center;
    font-size: 1rem;
    margin: 10px 0 5px;
    color: #0056b3;
  }

  .project-btn {
    position: static;
    transform: none;
    display: flex;
    justify-content: center;
    margin: 10px 0 20px;
  }

  .project-btn a {
    background: #007bff;
    color: #fff;
  }

  .mini-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .mini-item {
    border-right: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
  }

  .mini-item:last-child {
    border-bottom: none;
  }



  .github-btn {
    background: #007bff;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
  }

  .contact-container {
    flex-direction: column;
    align-items: center;
  }
  #contact .subtitle {
    font-size: 15px;
  }
}
@media screen and (max-width:480px) {
   #home h1 {
    font-size: 4.6rem;
  }
.contact-info{
gap:25px;
}
  #home p {
    font-size: 1.2rem;
  }
 .subtitle-container {
  width: 200px;
  margin-top: 10px;
}
.contact-container {
        padding: 20px 10px;
      }

      .contact-form {
        width: 100%;
        padding: 15px;
      }

      .contact-form input,
      .contact-form textarea {
        font-size: 0.9rem;
        padding: 10px;
      }

      .contact-form button {
        font-size: 0.9rem;
        padding: 10px;
      }
}